{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center p-4">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-lg-6 col-md-8 col-12">
            <img src="{% static 'images/prayatna.png' %}" class="img-fluid" alt="Prayatna">
        </div>
        <div class="col-lg-6 col-md-8 col-12">
            <div class="card">
                <div class="card-body p-4">
                    <a href="{% url 'userdata:home' %}" class="text-decoration-none text-black fs-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="Black" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                          </svg> Go Back
                    </a>
                    <form action="{% url 'userdata:addcard' %}" method="post">
                        {% csrf_token %}
                        <h2>Credit Card!</h2>
                        {{form.as_p}}
                        <input type="submit" value="Add Card" class="btn btn-primary w-100">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}